In [1]:
# EDA with Python and applying logistic regression
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
# The Data (Start by reading the sampe_submission csv file into pandas dataframe)
train = pd.read_csv('sample_submission.csv')

In [5]:
train.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [6]:
# Exploratory Data Analysis
## Lets begin some exploratory data analysis by checking out missing data

train.isnull() # isnull helps to find whwrther true or false

         Id  SalePrice
0     False      False
1     False      False
2     False      False
3     False      False
4     False      False
...     ...        ...
1454  False      False
1455  False      False
1456  False      False
1457  False      False
1458  False      False

[1459 rows x 2 columns]

In [7]:
sns.heatmap(train.isnull(),yticklabels=False,cbar=False,cmap='virdis')

ValueError: 'virdis' is not a valid value for name; supported values are 'Accent', 'Accent_r', 'Blues', 'Blues_r', 'BrBG', 'BrBG_r', 'BuGn', 'BuGn_r', 'BuPu', 'BuPu_r', 'CMRmap', 'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', 'Greens', 'Greens_r', 'Greys', 'Greys_r', 'OrRd', 'OrRd_r', 'Oranges', 'Oranges_r', 'PRGn', 'PRGn_r', 'Paired', 'Paired_r', 'Pastel1', 'Pastel1_r', 'Pastel2', 'Pastel2_r', 'PiYG', 'PiYG_r', 'PuBu', 'PuBuGn', 'PuBuGn_r', 'PuBu_r', 'PuOr', 'PuOr_r', 'PuRd', 'PuRd_r', 'Purples', 'Purples_r', 'RdBu', 'RdBu_r', 'RdGy', 'RdGy_r', 'RdPu', 'RdPu_r', 'RdYlBu', 'RdYlBu_r', 'RdYlGn', 'RdYlGn_r', 'Reds', 'Reds_r', 'Set1', 'Set1_r', 'Set2', 'Set2_r', 'Set3', 'Set3_r', 'Spectral', 'Spectral_r', 'Wistia', 'Wistia_r', 'YlGn', 'YlGnBu', 'YlGnBu_r', 'YlGn_r', 'YlOrBr', 'YlOrBr_r', 'YlOrRd', 'YlOrRd_r', 'afmhot', 'afmhot_r', 'autumn', 'autumn_r', 'binary', 'binary_r', 'bone', 'bone_r', 'brg', 'brg_r', 'bwr', 'bwr_r', 'cividis', 'cividis_r', 'cool', 'cool_r', 'coolwarm', 'coolwarm_r', 'copper', 'copper_r', 'crest', 'crest_r', 'cubehelix', 'cubehelix_r', 'flag', 'flag_r', 'flare', 'flare_r', 'gist_earth', 'gist_earth_r', 'gist_gray', 'gist_gray_r', 'gist_heat', 'gist_heat_r', 'gist_ncar', 'gist_ncar_r', 'gist_rainbow', 'gist_rainbow_r', 'gist_stern', 'gist_stern_r', 'gist_yarg', 'gist_yarg_r', 'gnuplot', 'gnuplot2', 'gnuplot2_r', 'gnuplot_r', 'gray', 'gray_r', 'hot', 'hot_r', 'hsv', 'hsv_r', 'icefire', 'icefire_r', 'inferno', 'inferno_r', 'jet', 'jet_r', 'magma', 'magma_r', 'mako', 'mako_r', 'nipy_spectral', 'nipy_spectral_r', 'ocean', 'ocean_r', 'pink', 'pink_r', 'plasma', 'plasma_r', 'prism', 'prism_r', 'rainbow', 'rainbow_r', 'rocket', 'rocket_r', 'seismic', 'seismic_r', 'spring', 'spring_r', 'summer', 'summer_r', 'tab10', 'tab10_r', 'tab20', 'tab20_r', 'tab20b', 'tab20b_r', 'tab20c', 'tab20c_r', 'terrain', 'terrain_r', 'turbo', 'turbo_r', 'twilight', 'twilight_r', 'twilight_shifted', 'twilight_shifted_r', 'viridis', 'viridis_r', 'vlag', 'vlag_r', 'winter', 'winter_r'

In [8]:
sns.set_style('Id')
sns.coutplotx(x='SalePrice',data=train)

ValueError: style must be one of white, dark, whitegrid, darkgrid, ticks

In [10]:
## Functions in python

num = 24

if num%2==0:
   print("The number is even")
else:
    print("The num is odd")

The number is even

In [17]:
def even_odd(num):
    if num%2==0:
        print("The number is even")
    else:
        print("The num is odd")

In [18]:
even_odd(24)

The number is even

In [19]:
# print vs return
def hello_world():
    print("Hello Welcome")

In [20]:
hello_world()

Hello Welcome

In [21]:
def hello_welcome():
    return "Hello welcome"

In [22]:
val = hello_welcome()

In [23]:
print(val)

Hello welcome

In [24]:
def add_number(num1,num2):
    return num1+num2

In [25]:
val = add_number(24,48)

In [26]:
val

72

In [28]:
def hello(name,age=29):
    print("My name is {} and age is {}".format(name,age))

In [29]:
hello('Krish')

My name is Krish and age is 29

In [30]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [31]:
hello("Krish","Naik",age = 29, dob = 1990)

('Krish', 'Naik')
{'age': 29, 'dob': 1990}

In [32]:
lst = ['Krish','Naik']
dict_args = {'age': 29, 'dob': 1990}

In [33]:
hello(*lst,**dict_args)

('Krish', 'Naik')
{'age': 29, 'dob': 1990}

In [34]:
lst = [1,2,3,4,5,6,7]

In [40]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
     if i%2==0:
            even_sum=even_sum+i
    else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [41]:
evenoddsum(lst)

(12, 7)